.searchBar{
  width: 100%;
  margin: 0px 0px 20px 0px;
  display: grid;
  place-items: center;
}
.tyBtnCon{
  width: max-content;
  /*background-color: var(--secondary);*/
  padding: 8px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.tyBtn{
  font-family: var(--font-one);
  font-size: 1rem;
  color: var(--black);
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  margin: 0px 5px 0px 0px;
  cursor: pointer;
  background-color: var(--secondary);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: 0px 0px 2px var(--light-black);
}
.tyBtn:hover{
  background-color: var(--light);
  color: var(--black);
}
.tyBtn.active{
  background-color: var(--main);
  color: var(--primary);
}
.formCon{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchForm{
  width: 70%;
  height: auto;
  padding: 10px 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  backdrop-filter: blur();
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
}
.searchFormWrap{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}
.searchFormWrap > div{
  width: 100%;
}
.searchFormWrap > div label{
  display: block;
  font-family: var(--font-one);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0px 0px 8px 0px;
  text-align: left;
  color: var(--background);
}
.searchForm input::placeholder{
  color: var(  --background);
  font-family: var(--font-one);
  font-weight: 500;
}
.searchForm input,.searchForm select{
  width: 100%;
  padding: 12px 15px;
  border: none;
  border: 1px solid var(--border);
  border-radius: 0px;
  outline-style: none;
  background-color: transparent;
  color: var(  --background);
  font-family: var(--font-one);
  font-weight: 500;
  font-size: 1rem;
}
.searchForm select option{
  color: var(--black);
}
.searchForm input:focus,.searchForm select:focus{
  outline: 1px solid var( --main);
}
.searchForm button{
  font-size: 1.1rem;
  color: var(--primary);
  background-color: var(--main);
  font-weight: 600;
  font-family: var(--font-one);
  text-transform: capitalize;
  padding: 10px 20px;
  height: 100%;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.searchForm button:hover{
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 900px) {
  .searchForm{
    width: 100%;
  }
  .TypeInputWrap,.bedInputWrap{
    display: none;
  }
  .searchForm button{
    font-size: 1.1rem;
    color: var(--primary);
    background-color: var(--main);
    font-weight: 600;
    font-family: var(--font-one);
    text-transform: capitalize;
    padding: 12px 20px;
    height: 100%;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
}
