.minheader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  background-color: var(--secondary);
}
.contact{
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact a span{
  margin-top: 5px;
  color: var(--day-black);
}
.contact a{
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: var(--font-three);
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--black);
  transition: color 0.2s ease;
  cursor: pointer;
}
.contact a:hover{
  color: var(--main);
  transition: color 0.2s ease;
}
.social{
  display: flex;
  align-items: center;
  gap: 20px;
}
.social a{
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  transition: color 0.2s ease;
}
.social a:hover{
  color: var(--main);
  transition: color 0.2s ease;
}
@media screen and (max-width: 1200px){
  .minheader{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  background-color: var(--secondary);
 }
}