.app{
  width: 100%;
  overflow-x: hidden;
}
.slick-arrow{
  top: -10% !important; 
}
.slick-arrow::before{
  color: var( --black) !important;
}
.slick-prev{
  left: 90% !important;
}
.slick-next{
  right: 1% !important;
}
.slick-prev:before, .slick-next:before{
  font-size: 1.6rem !important;
}

.slick-slide > div{
  margin: 0px 0.5rem;
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  max-width: 250px;
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 900px) {
  .slick-arrow{
    top: -8% !important; 
  }
  .slick-prev{
  left: 75% !important;
  }
  .slick-next{
    right: 5% !important;
  }
}